@media screen and (min-width:1280px) {
    .container {
        max-width: 1140px;
    }
    .header-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 140px;
    }
    .header-section .logo {
        margin-right: 135px;
    }
    
    .soc-icon-list {
        display: flex;
        gap: 20px;
    }
    
}